[user]
	email = p.hewson2@exeter.ac.uk
	name = Paul Hewson
	username = phewson
[alias]
        s = status
        ll = log --graph --abbrev-commit --decorate --all


[github]
	user = phewson
[credential]
	helper = cache
[init]
	defaultBranch = main
