[user]
	email = paul.hewson@overleaf.com
	name = Paul Hewson
	username = phewson
[alias]
        s = status
        ll = log --graph --abbrev-commit --decorate --all


[github]
	user = phewson
[credential]
	helper = cache
[init]
	defaultBranch = main
