{{timestamp_text}},000 ip-10-0-6-165.eu-west-1.compute.internal INFO {"customer_id": "{{customer_id}}", "device_mac_address": "{{device_mac_address}}", "framed_ip_address": "{{framed_ip_address}}", "framed_protocol": "{{framed_protocol}}", "hotspot_id": "{{hotspot_id}}", "input_gigawords": {{input_gigawords}}, "input_octets": {{input_octets}}, "interface_id": "{{interface_id}}", "ip_address": "{{ip_address}}", "nas_mac_address": "{{nas_mac_address}}", "output_gigawords": {{output_gigawords}}, "output_octets": {{output_octets}}, "packet_src_ip_address": "{{src_ip_address}}", "port_id": "{{port_id}}", "port_type": "{{port_type}}", "realm": "{{realm}}", "session_id": "{{session_id}}", "session_time": {{session_time}}, "ssid": "{{ssid}}", "termination_cause": "{{termination_clause}}", "timestamp": {{timestamp_numeric}}, "type": "{{type}}", "unique_session_id": "{{unique_session_id}}", "username": "{{username}}"}
