{% for event in events -%}
{ "timestamp": "{{event['timestamp']}}",
  "customer": {
    "id": "{{event['customer_id']}}",
    "name": "{{event['customer_name']}}",
    "zone_id": "{{event['zone_id']}}",
    "zone_name": "{{event['zone_name']}}"
      },
  "device_mac_address": "{{event['device_mac_address']}}",
  "doing_ajax": "{{event['doing_ajax']}}",
  "form_data": {
    "email": "{{event['form_data_email']}}",
    "allow_email_marketing": "{{event['form_data_allow_email_marketing']}}"
    },
  "hotspot": {
    "id": "{{event['hotspot_id']}}",
    "internet_address": "{{event['hotspot_internet_address']}}",
    "latitude": "{{event['hotspot_latitude']}}",
    "location": "{{event['hotspot_location']}}",
    "longitude": "{{event['hotspot_longitude']}}",
    "mac": "{{event['hotspot_mac']}}",
    "name": "{{event['hotspot_name']}}",
    "symbol": "{{event['hotspot_symbol']}}",
    "timezone": "{{event['hotspot_timezone']}}",
    "type": "{{event['hotspot_type']}}",
    "zone_id": "{{event['zone_id']}}",
    "zone_name": "{{event['zone_name']}}"},
  "hotspot_id": "{{event['hotspot_id']}}",
  "interface": {
    "id": "{{event['interface_id']}}",
    "name": "{{event['interface_name']}}"},
    "interface_id": "{{event['interface_id']}}",
  "page": "{{event['page']}}",
  "subscriber": {
    "acc_create_hotspot": "{{event['sub_acc_create_hotspot']}}",
    "acc_create_interface": "{{event['sub_acc_create_interface']}}",
    "accout_create_date": "{{event['sub_account_create_date']}}",
    "agree_terms_and_conditions": "{{event['sub_agree_terms_and_conditions']}}",
    "allow_email_marketing": "{{event['sub_allow_email_marketing']}}",
    "allow_mobile_marketing": "{{event['sub_allow_mobile_marketing']}}",
    "allow_postal_marketing": "{{event['sub_allow_postal_marketing']}}",
    "bank_account_number": "{{event['sub_bank_account_number']}}",
    "city": "{{event['sub_city']}}",
    "country": "{{event['sub_country']}}",
    "credit_card_expiry": "{{event['sub_credit_card_expiry']}}",
    "credit_card_number": "{{event['sub_credit_card_number']}}",
    "credit_card_start_date": "{{event['sub_credit_card_start_date']}}",
    "credit_card_card_type": "{{event['sub_credit_card_card_type']}}",
    "date_of_birth": "{{event['sub_date_of_birth']}}",
    "device_macs": {{event['sub_device_macs']}},
    "email": "{{event['sub_email']}}",
    "first_name": "{{event['sub_first_name']}}",
    "gdpr_consent_given": "{{event['sub_gdpr_consent_given']}}",
    "gender": "{{event['sub_gender']}}",
    "id": "{{event['sub_subscriber_id']}}",
    "issue_number": "{{event['sub_issue_number']}}",
    "last_hotspot_address": "{{event['sub_last_hotspot_address']}}",
    "last_hotspot_interface": "{{event['sub_last_hotspot_interface']}}",
    "last_login_datetime": "{{event['sub_last_login_datetime']}}",
    "last_name": "{{event['sub_last_name']}}",
    "last_registration_datetime": "{{event['sub_last_registration_datetime']}}",
    "login": "{{event['sub_login']}}",
    "mac_address": "{{event['sub_mac_address']}}",
    "mailing_address": "{{event['sub_mailing_address']}}",
    "mobile_phone": "{{event['sub_mobile_phone']}}",
    "mothers_maiden_name": "{{event['sub_mothers_maiden_name']}}",
    "password": "{{event['sub_password']}}",
    "pin_code": "{{event['sub_pin_code']}}",
    "place_of_birth": "{{event['sub_place_of_birth']}}",
    "realm": "{{event['sub_realm']}}",
    "secret_answer": "{{event['sub_secret_answer']}}",
    "secret_question": "{{event['sub_secret_question']}}",
    "security_number_cvs": "{{event['sub_security_number_cvs']}}",
    "send_receipts": "{{event['sub_send_receipts']}}",
    "session_expiry_datetime": "{{event['sub_session_expiry_datetime']}}",
    "sort_code": "{{event['sub_sort_code']}}",
    "subscriber_block_status_id": "{{event['sub_subscriber_block_status_id']}}",
    "subscriber_block_status_name": "{{event['sub_subscriber_block_status_name']}}",
    "subscriber_type_id": "{{event['sub_subscriber_type_id']}}",
    "subscriber_type_name": "{{event['sub_subscriber_type_name']}}",
    "user_def01": "{{event['sub_user_def01']}}",
    "user_def02": "{{event['sub_user_def02']}}",
    "user_def03": "{{event['sub_user_def03']}}",
    "user_def04": "{{event['sub_user_def04']}}",
    "user_def05": "{{event['sub_user_def05']}}",
    "user_def06": "{{event['sub_user_def06']}}",
    "user_def07": "{{event['sub_user_def07']}}",
    "user_def08": "{{event['sub_user_def08']}}",
    "user_def08": "{{event['sub_user_def08']}}",
    "user_def09": "{{event['sub_user_def09']}}",
    "user_def10": "{{event['sub_user_def10']}}",
    "zip_code": "{{event['sub_zip_code']}}"},
  "type": "{{event['type']}}",
  "user_agent": {
    "Browser": "{{event['ua_Browser']}}",
    "Browser_Maker": "{{event['ua_Browser_Maker']}}",
    "Comment": "{{event['ua_Comment']}}",
    "Crawler": "{{event['ua_Crawler']}}",
    "Device_Pointing_Method": "{{event['ua_Device_Pointing_Method']}}",
    "Device_Type": "{{event['ua_Device_Type']}}",
    "MajorVer": "{{event['ua_MajorVer']}}",
    "MinorVer": "{{event['ua_MinorVer']}}",
    "Parent": "{{event['ua_Parent']}}",
    "Platform": "{{event['ua_Platform']}}",
    "Version": "{{event['ua_Version']}}",
    "browser_name": "{{event['ua_browser_name']}}",
    "browser_name_pattern": "{{event['ua_browser_name_pattern']}}",
    "browser_name_regex": "{{event['ua_browser_name_regex']}}",
    "IsMobileDevice": "{{event['ua_IsMobileDevice']}}",
    "isTablet": "{{event['ua_isTablet']}}"},
  "view": "{{event['view']}}",
  "view_valid": "{{event['view_valid']}}"
  }{%if not loop.last%},{%endif%}{%- endfor %}
