{% for event in events -%}
{ "timestamp": "{{event['timestamp']}}",
  "customer_id": "{{event['customer_id']}}",
  "device_mac_address": "{{event['device_mac_address']}}",
  "framed_ip_address": "{{event['framed_ip_address']}}",
  "framed_protocol": "{{event['framed_protocol']}}",
  "hotspot_id": "{{event['hotspot_id']}}",
  "input_gigawords": "{{event['input_gigawords']}}",
  "input_octets": "{{event['input_octets']}}",
  "interface_id": "{{event['interface_id']}}",
  "ip_address": "{{event['ip_address']}}",
  "nas_mac_address": "{{event['nas_mac_address']}}",
  "output_gigawords": "{{event['output_gigawords']}}",
  "output_octets": "{{event['output_octets']}}",
  "packet_src_ip_address": "{{event['src_ip_address']}}",
  "port_id": "{{event['port_id']}}",
  "port_type": "{{event['port_type']}}",
  "realm": "{{event['realm']}}",
  "session_id": "{{event['session_id']}}",
  "session_time": "{{event['session_time']}}",
  "ssid": "{{event['ssid']}}",
  "termination_cause": "{{event['termination_clause']}}",
  "type": "{{event['type']}}",
  "unique_session_id": "{{event['unique_session_id']}}",
  "username": "{{event['username']}}"
  }{%if not loop.last%},{%endif%}{%- endfor %}
